{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container text-center my-5">
        <h1 class="display-3 text-black">Welcome to Badstugan</h1>
        <p class="lead text-muted">Experience the ultimate relaxation with our exclusive saunas and services.</p>
        <a href="#" class="btn btn-lg shop-now-button mt-3">Book a visit</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-5">
        
        <!-- Featured Image Section -->
        <div class="row">
            <div class="col">
                <img src="/media/badstuga-inne.jpg" class="img-fluid w-100 mb-5" alt="Sauna Interior">
            </div>
        </div>

        <!-- Our Saunas Section -->
        <div class="row text-center my-5">
            <div class="col">
                <h2 class="display-4 text-black">Our Saunas</h2>
                <p class="lead text-muted">Explore our selection of unique saunas designed to offer a serene and rejuvenating experience.</p>
            </div>
        </div>

        <!-- Include the Product Section -->
        {% include "products/product_section.html" %}

        <!-- About Us Section -->
        <div class="row text-center my-5">
            <div class="col">
                <h2 class="display-4 text-black">What We're About</h2>
                <p class="lead text-muted">
                    Badstugan is committed to creating a peaceful and memorable sauna experience that prioritizes your well-being. Join our community and become part of a tradition that values relaxation, health, and connection.
                </p>
                <a href="#" class="btn btn-lg shop-now-button mt-3">Become a Member</a>
            </div>
        </div>

    </div>
{% endblock %}
