# System and editor files
__pycache__/
*.py[cod]

# Node.js
node_modules/

# IDEs and editors
.github/
.vscode/
.idea/

# Python virtual environments
venv/
env/
.venv/

# Cloudinary (if applicable)
cloudinary_python.txt

# SQLite
*.sqlite3

# Compiled Python files
*.pyc

# Environment files
.env

# Project-specific ignores
core.Microsoft*
core.mongo*
core.python*
