{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
    <hr>
    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}
        <button type="submit" class="btn btn-primary">{% trans 'Set Password' %}</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
            {% trans "Home" %}
        </a>
    </div>
{% endblock inner_content %}
