{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans 'Reset My Password' %}</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
            {% trans "Home" %}
        </a>
    </div>
    <p class="mt-2">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
{% endblock inner_content %}
