{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
    <hr>
    <p>
        {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
    </p>
    {% if not SOCIALACCOUNT_ONLY %}
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
                {% trans "Home" %}
            </a>
        </div>
    {% endif %}
{% endblock inner_content %}
